<div class="container">

  <div class="page-heading">
    <h1>Games</h1>
  </div>

  <table class="table">
    <tr>
      <td>Name</td>
      <td>Platform</td>
      <td>Genre</td>
      <td>Action</td>
    </tr>
    <tr ng-repeat="game in $ctrl.games">
      <td>{{game.name}}</td>
      <td>{{game.platform}}</td>
      <td>{{game.genre}}</td>
      <td>
        <button class="btn btn-default" type="button" name="button" ng-click="editGame()"><i class="fa fa-edit"></i> Edit</button>
        <button class="btn btn-danger" type="button" name="button" ng-click="deleteGame()"><i class="fa fa-times"></i> Delete</button>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="" value="" ng-model="$ctrl.newGame.name">
      </td>
      <td>
        <input type="text" name="" value="" ng-model="$ctrl.newGame.platform">
      </td>
      <td>
        <input type="text" name="" value="" ng-model="$ctrl.newGame.genre">
      </td>
      <td>
        <button class="btn btn-primary" type="button" name="button" ng-click="$ctrl.addNewGame()"><i class="fa fa-plus"></i> Add Game</button>
      </td>
    </tr>
  </table>
</div>
