<div class="container">

  <div class="page-heading">
    <h1>Games</h1>

    <button class="btn btn-primary" ng-click="$ctrl.resetGames()">Clear Filter</button>
    Current Filter: {{$ctrl.filter}}
  </div>

  <table class="table">
    <tr>
      <td>Name</td>
      <td>Platform</td>
      <td>Genre</td>
      <td>Action</td>
    </tr>
    <tr ng-repeat="game in $ctrl.games">
      <td ng-hide="game.edit">{{game.name}}</td>
      <td ng-show="game.edit"><input type="text" name="" value="" ng-model="game.name"></td>

      <td ng-hide="game.edit">{{game.platform}}</td>
      <td ng-show="game.edit"><input type="text" name="" value="" ng-model="game.platform"></td>

      <td ng-hide="game.edit">{{game.genre}}</td>
      <td ng-show="game.edit"><input type="text" name="" value="" ng-model="game.genre"></td>

      <td ng-hide="game.edit">
        <button class="btn btn-default" type="button" name="button" ng-click="$ctrl.toggleEditGame($index)"><i class="fa fa-edit"></i> Edit</button>
        <button class="btn btn-danger" type="button" name="button" ng-click="$ctrl.deleteGame($index)"><i class="fa fa-times"></i> Delete</button>
      </td>
      <td ng-show="game.edit">
        <button class="btn btn-default" type="button" name="button" ng-click="$ctrl.saveGame($index)"><i class="fa fa-save"></i> Save</button>
        <button class="btn btn-danger" type="button" name="button" ng-click="$ctrl.toggleEditGame($index)"><i class="fa fa-times"></i> Cancel</button>
      </td>


    </tr>
    <tr>
      <td>
        <input type="text" name="" value="" ng-required="required" ng-model="$ctrl.newGame.name">
      </td>
      <td>
        <input type="text" name="" value="" ng-required="required" ng-model="$ctrl.newGame.platform">
      </td>
      <td>
        <input type="text" name="" value="" ng-required="required" ng-model="$ctrl.newGame.genre">
      </td>
      <td>
        <button class="btn btn-primary" type="button" name="button" ng-click="$ctrl.addNewGame()"><i class="fa fa-plus"></i> Add Game</button>
      </td>
    </tr>
  </table>
</div>
